.main-footer {
  position: relative;
  z-index: 1;
}

.main-footer__logo {
  flex-shrink: 0;
  width: 104px; // logo width
  height: 30px; // logo height
  display: block;

  svg, img {
    display: block;
    width: inherit;
    height: inherit;
  }
}

.main-footer__items {
  @include breakpoint(md) {
    font-size: 0.8em;
  }
}

.main-footer__item {
  margin-top: var(--space-sm);
}

.main-footer__link {
  color: var(--color-contrast-medium);
  text-decoration: none;

  &:hover {
    color: var(--color-contrast-high);
    text-decoration: underline;
  }
}

// colophon
.main-footer__colophon {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.main-footer__social {
  text-decoration: none;
  display: inline-block;
  color: var(--color-contrast-medium);

  &:hover {
    color: var(--color-contrast-high);
  }
}

.cookies-container {
  position: fixed;
  width: 100%;
  right: 0;
  bottom: 0!important;
  background-color: #fff!important;
  z-index: 9999;
  border-top: 1px solid #ddd;;
  @include breakpoint(md) {
    border-top: none;
    right: var(--space-sm);
    bottom: var(--space-sm)!important;
  }
  > div:first-child {
    margin-bottom: var(--space-sm);
    text-align: center;
  }
  > div:last-child {
   display: flex;
  }
  .btn {
    width: 100%;
    &.btn--primary {
      order: 1;
    }
    &.btn--secundary {
      order: 2;
    }
  }
  a {
    display: block;
    margin-top: var(--space-xxxs);
  }
}